$action-button-color: #fdfd00;
$action-button-hover-color: #ffff60;

@mixin flex-direction {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin full-size {
  width: 100%;
  height: 100%;
}

@mixin center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.client {
  @include full-size();
  @include flex-direction();

  &__headline {
    margin-top: 2.5rem;
    font-size: 2rem;
  }

  &__create-client-button {
    @include center-content();
    background-color: $action-button-color;
    margin-top: 0.3rem;
    border-radius: 0.3rem;
    font-size: 1.5rem;
    padding: 0.3rem 1.5rem;
    column-gap: 0.5rem;
    border: 1px solid black;

    &--new-client-icon {
      width: 2.3rem;
      height: auto;
    }

    &--newClient-icon:hover {
      background-color: $action-button-hover-color;
    }
  }

  &__create-client-button:hover {
    background-color: $action-button-hover-color;
    cursor: pointer;
  }
}

.button {
  cursor: pointer;
}
