$delete-button-color: #dd0000;
$delete-button-hover-color: #ff0000;
$action-button-color: #fdfd00;
$action-button-hover-color: #ffff60;
$border-color: #bdbdbd;

@mixin full-screen {
  width: 100%;
  height: 100%;
}

@mixin column-flex-left-site {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.text-right {
  text-align: right;
}

.new-client {
  &__form {
    @include full-screen();
    border: 1px solid black;
  }

  &__close-icon {
    width: 1.7rem;
    height: auto;
    margin: 0.5rem 0 0 96%;
    transition: all 0.5s ease-in-out;
  }

  &__close-icon:hover {
    color: gray;
  }

  &__label-and-input-div {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    column-gap: 7rem;
  }

  &__label-div {
    margin: 1rem 0 0 6rem;
    @include column-flex-left-site();
    padding-left: 0;
  }

  .label {
    font-size: 1.2rem;
  }

  &__label-first-name,
  &__label-last-name,
  &__label-city {
    margin-top: 2rem;
  }

  &__label-street-number {
    margin-top: 3.5rem;
  }

  &__label-birthday,
  &__label-mail,
  &__label-handy,
  &__label-remark {
    margin-top: 1.8rem;
  }

  &__label-PLZ {
    margin-top: 4.2rem;
  }

  &__input-div {
    margin-top: 1rem;
    @include column-flex-left-site();
    row-gap: 1.4rem;
  }

  &__input-info-div {
    display: flex;
    column-gap: 0.5rem;
  }

  &__input-note {
    margin-top: 0.3rem;
  }

  &__select {
    width: 12.7rem;
    height: 1.7rem;
    font-size: 15px;
  }

  &__select:hover {
    cursor: pointer;
  }

  &__option {
  }

  &__client-age-verification-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
  }

  &__street-street-number-collect-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 0.5rem;
  }

  &__select {
    width: 12.7rem;
    height: 1.7rem;
    font-size: 15px;
  }

  &__select:hover {
    cursor: pointer;
  }

  &__option {
  }

  .input {
    width: 12rem;
    height: 1.6rem;
    font-size: 1rem;
    padding-left: 0.5rem;
  }

  &__age-inline {
    width: 12.5rem;
    height: 1.3rem;
  }

  &__age-over {
    color: green;
  }

  &__age-under {
    color: red;
  }

  textarea {
    width: 17rem;
    height: 5rem;
    padding: 0.5rem;
    font-size: 1rem;
    resize: none;
  }

  /*&__date-incomplete-icon {
    background-color: #ffde21;
  }*/

  &__button-div {
    margin-top: 3rem;
    column-gap: 3rem;
  }

  &__cancel-button {
    width: 9rem;
    column-gap: 0.5rem;
  }

  &__cancel-icon {
    width: 1.3rem;
  }

  &__new-client-button {
    width: 13.5rem;
    column-gap: 0.7rem;
  }

  &__new-client-icon {
    width: 1.3rem;
    height: auto;
  }
}
