$delete-button-color: #dd0000;
$delete-button-hover-color: #ff0000;
$action-button-color: #fdfd00;
$action-button-hover-color: #ffff60;
$border-color: #bdbdbd;

@mixin full-size {
  width: 100%;
  height: 100%;
}

@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin column-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin column-flex-left-site {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.new-order {
  &__popup-message-div {
    @include column-flex();

    &--text {
      font-size: 1.3rem;
    }

    &--close-button {
      font-size: 1rem;
      @include center-flex();
      padding: 0.3rem 1rem;
      column-gap: 0.5rem;

      &--close-icon {
        width: 2rem;
        height: auto;
      }
    }
  }

  &__form {
    @include full-size();
    @include column-flex();

    &--close-button {
      @include center-flex();
      position: absolute;
      margin-bottom: 35rem;
      margin-left: 50rem;
      border-radius: 0.3rem;
      border: 1.5px solid $border-color;
      padding: 0.2rem 0.8rem;

      &--close-icon {
        width: 2rem;
        height: auto;
      }
    }

    &--label-and-input-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 10rem;

      &--label-section {
        margin-top: 1rem;
        @include column-flex-left-site();
        row-gap: 2.3rem;
        padding-left: 0;
      }

      .label {
        padding: 0;
        margin: 0;
        font-size: 1.3rem;
      }

      &--input-section {
        margin-top: 1rem;
        @include column-flex-left-site();
        row-gap: 2.1rem;

        &--input-info-section {
          .select {
          }

          .mandatory-field {
          }
        }
      }

      .input {
        width: 10rem;
        height: 1.3rem;
        font-size: 1rem;
      }
    }

    &--add-button {
      @include center-flex();
      background-color: $action-button-color;
      margin-top: 3rem;
      border-radius: 0.3rem;
      border: 2px solid $border-color;
      font-size: 1.2rem;
      padding: 0.3rem 1rem;
      column-gap: 0.5rem;

      &--add-icon {
        background-color: $action-button-color;
        width: 2rem;
        height: auto;
      }

      &--add-icon:hover {
        background-color: $action-button-hover-color;
      }
    }

    &--add-button:hover {
      background-color: $action-button-hover-color;
      cursor: pointer;
    }
  }
}
