$delete-button-color: #dd0000;
$delete-button-hover-color: #ff0000;
$action-button-color: #fdfd00;
$action-button-hover-color: #ffff60;
$border-color: #bdbdbd;

@mixin full-size {
  width: 100%;
  height: 100%;
}

@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin column-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin column-flex-left-site {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

//

$edit-button-color: lime;
$edit-button-hover-color: limegreen;
$delete-button-color: #dd0000;
$delete-button-hover-color: #ff0000;
$close-button-color: lime;
$close-button-hover-color: limegreen;
$icon-color: white;
$icon-hover-color: black;
$menu-button-color-two: #f96b00;

@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin column-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin full-size {
  width: 100%;
  height: 100%;
}

.orders-preview {
  @include full-size();
  overflow: auto;
  margin-top: 2.5rem;

  &__popup-message-div {
    &--text {
      font-size: 1.5rem;
    }

    &--button-div {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      &--delete-button {
        @include center-flex();
        padding: 0.4rem 1rem;
        font-size: 1.1rem;
        column-gap: 0.5rem;
        border: 1px solid black;
        border-radius: 0.2rem;
        background-color: $delete-button-hover-color;

        &--delete-icon {
          width: 1.8rem;
          height: auto;
          border: none;
        }
      }

      &--delete-button:hover {
        cursor: pointer;
        background-color: $delete-button-color;
      }

      &--close-button {
        @include center-flex();
        padding: 0.3rem 1rem;
        font-size: 1rem;
        column-gap: 0.5rem;
        border: 1px solid black;
        border-radius: 0.2rem;

        &--close-icon {
          width: 2rem;
          height: auto;
        }
      }

      &--close-button:hover {
        cursor: pointer;
        background-color: #dbdbdb;
      }
    }
  }

  &__single-order-div {
    @include full-size();
    @include column-flex();
    row-gap: 5rem;

    &--close-button {
      position: absolute;
      margin-bottom: 43rem;
      margin-left: 65%;
      border-radius: 0.2rem;
      border: 1px solid black;
      padding: 0.2rem 0.8rem;

      &--close-icon {
        width: 2rem;
        height: auto;
      }
    }

    &--close-button:hover {
      cursor: pointer;
      background-color: #dbdbdb;
    }

    &--table {
      width: 50%;
      border-collapse: collapse;

      &--tr {
        &--th {
          font-size: 1.4rem;
          text-align: left;
          width: 50%;
        }

        &--td {
          text-align: left;

          font-size: 1.4rem;

          /*&--client,
          &--employee,
          &--buisness,
          &--service,
          &--pay-methode,
          &--payment-status,
          &--order-note {
            font-size: 1.3rem;
          }

          &--order-id,
          &--service-value,
          &--service-quantity,
          &--service-total-sum,
          &--order-time {
            font-size: 1.3rem;
          }*/

          &--button-div {
            @include column-flex-left-site();
            row-gap: 2rem;
            margin-left: -5rem;

            &--edit-button {
              @include center-flex();
              background-color: $menu-button-color-two;
              padding: 0.3rem 0.5rem;
              border-radius: 0.3rem;
              border: 1px solid black;

              &--edit-icon {
                width: 2rem;
                height: auto;
              }
            }

            &--edit-button:hover {
              background-color: #dbdbdb;
            }

            &--delete-button {
              @include center-flex();
              background-color: $delete-button-color;
              border: 1px solid black;
              border-radius: 0.3rem;
              padding: 0.3rem 0.5rem;

              &--delete-icon {
                width: 2rem;
                height: auto;
              }
            }

            &--delete-button:hover {
              background-color: #dbdbdb;
            }
          }
        }
      }
    }
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;

    &--tr {
      &--th {
        position: sticky;
        top: 0;
        font-size: 1.5rem;
        padding: 1rem;
      }

      &--td {
        padding: 0.5rem 0;

        &--service,
        &--payment-status {
          text-align: left;
          font-size: 1.3rem;
        }

        &--service-total-sum {
          text-align: right;
          font-size: 1.3rem;
        }

        &--button-div {
          @include column-flex();
          row-gap: 1rem;

          &--detail-button {
            border-radius: 0.3rem;
            border: 1px solid black;
            padding: 0.3rem 0.5rem;
            background-color: white;

            &--detail-icon {
              width: 2rem;
              height: auto;
            }
          }

          &--detail-button:hover {
            background-color: #dbdbdb;
          }

          &--edit-button {
            background-color: $menu-button-color-two;
            border-radius: 0.3rem;
            border: 1px solid black;
            padding: 0.3rem 0.5rem;

            &--edit-icon {
              width: 2rem;
              height: auto;
            }
          }

          &--edit-button:hover {
            background-color: #dbdbdb;
          }

          &--delete-button {
            @include center-flex();
            font-size: 0.5rem;
            background-color: $delete-button-color;
            border: 1px solid black;
            border-radius: 0.3rem;
            padding: 0.3rem 0.5rem;

            &--delete-icon {
              width: 2rem;
              height: auto;
            }
          }

          &--delete-button:hover {
            background-color: #dbdbdb;
          }
        }
      }
    }
  }
}

td,
th {
  border: 1px solid #dddddd;
  padding: 8px;
}

tr:nth-child(even) {
  /*background-color: #dddddd;*/
  /*background-color: #b3e5fc;*/
  background-color: #cae0ed;
}

.payment-check-green {
  background-color: #52b642;
}

.payment-check-yellow {
  background-color: yellow;
}

.payment-check-red {
  background-color: #bb0000;
}

.button {
  @include column-flex();
}

.button:hover {
  cursor: pointer;
}
