$delete-button-color: #dd0000;
$delete-button-hover-color: #ff0000;
$action-button-color: #fdfd00;
$action-button-hover-color: #ffff60;
$border-color: #bdbdbd;
$crm-color-white: white;

@mixin full-size {
  width: 100%;
  height: 100%;
}

//

$edit-button-color: lime;
$edit-button-hover-color: limegreen;
$delete-button-color: #dd0000;
$delete-button-hover-color: #ff0000;
$close-button-color: lime;
$close-button-hover-color: limegreen;
$icon-color: white;
$icon-hover-color: black;
$menu-button-color-two: #f96b00;

@mixin full-size {
  width: 100%;
  height: 100%;
}

.orders-preview {
  @include full-size();
  margin-top: 2.5rem;

  &__delete-order-form,
  &__delete-single-order-form {
    @include full-size();
  }

  &__close-icon {
    width: 1.7rem;
    height: auto;
    margin: 0.5rem 0 0 96%;
    transition: all 0.5s ease-in-out;
  }

  &__close-icon:hover {
    color: gray;
  }

  &__text {
    text-align: center;
    font-size: 1.4rem;
    margin-top: 15rem;
  }

  &__delete-order-button-div,
  &__delete-single-order-button-div {
    width: 100%;
    margin-top: 3rem;
    column-gap: 3rem;
  }

  &__delete-order-cancle-button,
  &__delete-single-order-cancle-button {
    width: 9rem;
    column-gap: 0.5rem;
  }

  &__delete-order-cancle-icon,
  &__delete-single-order-cancle-icon {
    width: 1.5rem;
  }

  &__delete-order-button,
  &__delete-single-order-button {
    width: 8rem;
    column-gap: 0.5rem;
  }

  &__delete-order-icon,
  &__delete-single-order-icon {
    width: 1.5rem;
    height: auto;
    border: none;
  }

  // single-order

  &__single-order-div {
    @include full-size();
  }

  &__close-icon {
    width: 1.7rem;
    height: auto;
    margin: 0.5rem 0 0 96%;
    transition: all 0.5s ease-in-out;
  }

  &__close-icon:hover {
    color: gray;
  }

  &__single-table-div {
    margin-top: 3rem;
    column-gap: 1rem;
  }

  &__single-headline-div {
    width: 20rem;
    height: 37rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }

  &__single-order-headline {
    height: 2.5rem;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    /*padding: 6px 0.7rem 0.5rem 0.7rem;*/
    border-bottom: 1px solid #e0e0e0;
  }

  &__single-info-div {
    width: 20rem;
    height: 37rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }

  &__single-order-info {
    height: 2.5rem;
    font-size: 1.2rem;
    display: flex;
    border-bottom: 1px solid #e0e0e0;
  }

  &__single-order-id-info,
  &__single-order-client-info,
  &__single-order-employee-info,
  &__single-order-business-info,
  &__single-order-service-info,
  &__single-order-service-value-info,
  &__single-order-quantity-info,
  &__single-order-quantity-service-value-info,
  &__single-order-payment-method-info,
  &__single-order-time-stamp-info,
  &__single-order-note-info {
    padding: 0 0.7rem 0 0.7rem;
  }

  &__single-order-client-info,
  &__single-order-employee-info,
  &__single-order-business-info,
  &__single-order-payment-method-info,
  &__single-order-note-info {
    justify-content: left;
    align-items: center;
  }

  &__single-order-id-info,
  &__single-order-service-value-info,
  &__single-order-quantity-info,
  &__single-order-quantity-service-value-info,
  &__single-order-time-stamp-info {
    justify-content: right;
    align-items: center;
  }

  /*&__single-order-id-info {
  }

  &__single-order-client-info {
  }

  &__single-order-employee-info {
  }

  &__single-order-business-info {
  }*/

  &__single-order-service-info {
    overflow-y: auto;
    line-height: 1.7rem;
  }

  /*&__single-order-service-value-info {
  }

  &__single-order-quantity-info {
  }

  &__single-order-quantity-service-value-info {
  }*/

  &__single-order-payment-status-info {
    /*padding: 0.5rem 0.7rem 6px 0.7rem;*/
  }

  &__single-order-payment-status {
    position: relative;
  }

  /*.number {
    text-align: right;
  }*/

  &__single-order-check-icon,
  &__single-order-note-icon,
  &__single-order-attention-icon {
    width: 1.5rem;
  }

  &__single-order-check-icon:hover,
  &__single-order-note-icon:hover,
  &__single-order-attention-icon:hover {
    cursor: help;
  }

  &__single-order-check-icon {
    color: #52b642;
  }

  &__single-order-note-icon {
    background-color: #ffde21;
    /*color: #ffb343;*/
    color: black;
    border-radius: 50%;
  }

  &__single-order-attention-icon {
    color: #bb0000;
  }

  /*&__single-order-time-stamp-info {
  }*/

  &__single-order-note-info {
    overflow-y: auto;
  }

  &__single-order-options-div {
    /*padding: 0.5rem 0.7rem 6px 0.7rem;*/
  }

  &__single-order-button-div {
    column-gap: 1rem;
  }

  &__edit-icon {
    width: 1.5rem;
    height: auto;
  }

  &__delete-icon {
    width: 1.5rem;
    height: auto;
  }

  // Order

  &__table-div {
    width: 95%;
    margin: 1rem auto;
    padding-top: 2rem;
    background-color: $crm-color-white;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 0.2rem;
  }

  &__new-order-button {
    width: 12rem;
    margin: 1rem 0 3rem 85%;
    column-gap: 0.7rem;
  }

  &__new-order-icon {
    width: 1.5rem;
    height: auto;
  }

  &__headline-div {
    width: 95%;
    margin: 0 0 0 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
  }

  &__headline {
    padding: 1rem;
    position: sticky;
    top: 0;
    font-size: 1.3rem;
    text-align: center;
    background-color: $crm-color-white;
  }

  &__service,
  &__payment-status {
  }

  &__service-total-sum {
  }

  &__order-preview-div {
    width: 100%;
    height: 63vh;
    padding-top: 1rem;
    overflow-y: auto;
  }

  &__order-info-div {
    width: 96%;
    margin: 1.5rem 0 1.5rem 2rem;
    padding-bottom: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid #e0e0e0;
  }

  &__order-info,
  &__service-total-sum-info {
    font-size: 1.1rem;
  }

  &__service-info,
  &__service-total-sum-info {
    display: flex;
    align-items: center;
  }

  &__service-info {
    justify-content: left;
    margin: 0 1rem 0 5rem;
  }

  &__service-total-sum-info {
  }

  &__payment-status-info {
    /*width: 25.5%;
    text-align: center;*/
  }

  &__payment-status,
  &__action-order-tool-tip-div {
    position: relative;
  }

  /* &__tool-tip-message-left,
  &__tool-tip-message-right {
    position: absolute;
    background-color: white;
    box-shadow: 0 2px 4px gray;
    border-radius: 0.2rem;
  }

  &__tool-tip-message-right {
    margin: -3rem 0 0 2rem;
  }

  &__tool-tip-message-left {
    margin: -3rem 2rem 0 0;
  }*/

  &__check-icon,
  &__note-icon,
  &__attention-icon {
    width: 1.5rem;
  }

  &__check-icon {
    color: #52b642;
  }

  &__note-icon {
    background-color: #ffde21;
    /*color: #ffb343;*/
    color: black;
    border-radius: 50%;
  }

  &__attention-icon {
    color: #bb0000;
  }

  &__check-icon:hover,
  &__note-icon:hover,
  &__attention-icon:hover {
    cursor: help;
  }

  &__option-div {
    //width: 20%;
  }

  &__button-div {
    column-gap: 1rem;
  }

  &__detail-button,
  &__edit-button,
  &__delete-button {
    background-color: white;
    border: none;
  }

  &__detail-icon,
  &__edit-icon,
  &__delete-icon {
    width: 1.5rem;
    height: auto;
  }

  &__delete-icon {
    color: $delete-button-color;
  }
}

/*.payment-check-green {
  background-color: #52b642;
}

.payment-check-yellow {
  background-color: yellow;
}

.payment-check-red {
  background-color: #bb0000;
}*/
