$delete-button-color: #dd0000;
$delete-button-hover-color: #ff0000;
$action-button-color: #fdfd00;
$action-button-hover-color: #ffff60;
$border-color: #bdbdbd;

@mixin full-size {
  width: 100%;
  height: 100%;
}

.update-order {
  &__form {
    @include full-size();
  }

  &__close-icon {
    width: 1.7rem;
    height: auto;
    margin: 0.5rem 0 0 96%;
    transition: all 0.5s ease-in-out;
  }

  &__close-icon:hover {
    color: gray;
  }

  &__lable-and-input-div {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    column-gap: 7rem;
  }

  &__lable-div,
  &__input-div {
    display: flex;
    flex-direction: column;
  }

  &__lable-div {
  }

  .lable {
    font-size: 1.2rem;
  }

  &__lable-employee,
  &__lable-single-price,
  &__lable-payment-status {
    margin-top: 2rem;
  }

  &__lable-service,
  &__lable-payment-method,
  &__lable-total-price,
  &__lable-order-date {
    margin-top: 1.8rem;
  }

  &__lable-quantity,
  &__lable-business,
  &__lable-remark {
    margin-top: 1.5rem;
  }

  &__input-div {
    row-gap: 1.5rem;
  }

  &__select {
    width: 12rem;
    height: 1.7rem;
    font-size: 15px;
  }

  &__select:hover {
    cursor: pointer;
  }

  &__option {
  }

  &__input-info-div {
    display: flex;
    column-gap: 0.5rem;
  }

  .input {
    width: 11.3rem;
    height: 1.6rem;
    font-size: 1rem;
    padding-left: 0.5rem;
  }

  &__single-price,
  &__total-price {
    width: 11.5rem;
    height: 1.6rem;
    padding-right: 0.5rem;
    font-size: 18px;
    display: flex;
    justify-content: right;
    align-items: center;
  }

  &__input-note {
    margin-top: 0.3rem;
  }

  textarea {
    width: 16.3rem;
    height: 5rem;
    padding: 0.5rem;
    font-size: 1rem;
    resize: none;
  }

  &__input-check-box {
    width: 5rem;
    margin-left: 53%;
  }

  &__button-div {
    margin-top: 3rem;
    column-gap: 3rem;
  }

  &__cancle-button {
    width: 10rem;
    column-gap: 0.5rem;
  }

  &__cancle-icon {
    width: 1.5rem;
  }

  &__update-order-button {
    width: 13rem;
    column-gap: 0.7rem;
  }

  &__update-order-icon {
    width: 1.5rem;
    height: auto;
  }
}
