$delete-button-color: #dd0000;
$delete-button-hover-color: #ff0000;
$action-button-color: #fdfd00;
$action-button-hover-color: #ffff60;
$border-color: #bdbdbd;

@mixin full-size {
  width: 100%;
  height: 100%;
}

.update-order {
  &__form {
    @include full-size();
  }

  &__close-icon {
    width: 1.7rem;
    height: auto;
    margin: 0.5rem 0 0 57.5rem;
    transition: all 0.5s ease-in-out;
  }

  &__close-icon:hover {
    color: gray;
  }

  &__lable-and-input-div {
    margin-top: 5rem;
    column-gap: 7rem;
  }

  &__lable-div,
  &__input-div {
    display: flex;
    flex-direction: column;
  }

  &__lable-div {
    row-gap: 1.6rem;
  }

  &__input-div {
    row-gap: 1rem;
  }

  &__select {
    width: 10.7rem;
    height: 1.7rem;
    font-size: 15px;
  }

  &__option {
  }

  .input {
    width: 10rem;
    height: 1.5rem;
    font-size: 1rem;
    padding-left: 0.5rem;
  }

  &__input-check-box {
    width: 5rem;
    margin-left: 47%;
  }

  &__button-div {
    margin-top: 3rem;
    column-gap: 3rem;
  }

  &__cancle-button {
    width: 10rem;
    column-gap: 0.5rem;
  }

  &__cancle-icon {
    width: 1.5rem;
  }

  &__update-order-button {
    width: 13rem;
    column-gap: 0.7rem;
  }

  &__update-order-icon {
    width: 1.5rem;
    height: auto;
  }
}
