$edit-button-color: lime;
$edit-button-hover-color: limegreen;
$delete-button-color: #dd0000;
$delete-button-hover-color: #ff0000;
$close-button-color: lime;
$close-button-hover-color: limegreen;
$icon-color: white;
$icon-hover-color: black;
$menu-button-color-two: #f96b00;
$crm-color-white: white;

@mixin full-size {
  width: 100%;
  height: 100%;
}

.employees-preview {
  @include full-size();
  margin-top: 2.5rem;

  &__question-div {
    @include full-size();
    border: 1px solid black;
  }

  &__close-icon {
    width: 1.5rem;
    height: auto;
    margin: 0.5rem 0 0 57.5rem;
    transition: all 0.5s ease-in-out;
  }

  &__close-icon:hover {
    color: gray;
  }

  &__text {
    text-align: center;
    margin-top: 15rem;
    font-size: 1.4rem;
  }

  &__button-div {
    width: 100%;
    margin-top: 5rem;
    column-gap: 3rem;
  }

  &__cancel-button {
    width: 9rem;
    column-gap: 0.5rem;
  }

  &__cancel-icon,
  &__delete-employee-icon {
    width: 1.5rem;
    height: auto;
  }

  &__delete-employee-button {
    width: 9rem;
    column-gap: 0.7rem;
    background-color: white;
    color: $delete-button-color;
    border: 2px solid $delete-button-color;
  }

  &__close-button {
    font-size: 1rem;
    padding: 0.3rem 1rem;
    column-gap: 0.5rem;
    border-radius: 0.2rem;
    border: 1px solid black;
  }

  &__table-div {
    width: 95%;
    margin: 1rem auto;
    padding-top: 2rem;
    background-color: $crm-color-white;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 0.2rem;
  }

  &__new-employee-button {
    width: 14rem;
    margin: 1rem 0 3rem 75%;
    column-gap: 0.7rem;
  }

  &__new-icon {
    width: 1.5rem;
    height: auto;
  }

  &__headline-div {
    width: 100%;
  }

  &__headline {
    padding: 1rem;
    position: sticky;
    top: 0;
    font-size: 1.3rem;
    text-align: center;
    background-color: $crm-color-white;
  }

  /*&__first-name,
  &__last-name,
  &__note,
  &__age,
  &__option {
  }*/

  &__first-name,
  &__last-name {
    width: 15%;
  }

  &__age {
    width: 15%;
  }

  &__note {
    width: 30%;
  }

  &__options {
    width: 15%;
  }

  &__employees-preview-div {
    width: 100%;
    height: 65vh;
    overflow-y: auto;
  }

  &__employee-info-div {
    width: 98.7%;
    margin: 1.5rem auto;
    padding-bottom: 0.5rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
  }

  &__employee-info {
  }

  /*&__first-name-info,
  &__last-name-info,
  &__age-info,
  &__note-info,
  &__options-div {
    border: 1px solid black;
  }*/

  &__first-name-info,
  &__last-name-info,
  &__age-info,
  &__note-info {
    font-size: 1.1rem;
  }

  &__first-name-info {
    width: 13%;
    padding-left: 4%;
  }

  &__last-name-info {
    width: 14.2%;
    padding-left: 3%;
  }

  &__age-info {
    width: 11.2%;
    text-align: right;
    padding-right: 4%;
  }

  &__note-info {
    width: 29%;
    padding-left: 3%;
  }

  &__options-div {
    width: 15%;
    padding-left: 3%;
  }

  &__new-employee-button-div {
    column-gap: 1rem;
  }

  &__edit-button,
  &__delete-button {
    background-color: $crm-color-white;
    border: none;
  }

  &__edit-icon,
  &__delete-icon {
    width: 1.5rem;
    height: auto;
  }

  &__delete-button {
    color: $delete-button-color;
  }
}
