$delete-button-color: #dd0000;
$delete-button-hover-color: #ff0000;
$action-button-color: #fdfd00;
$action-button-hover-color: #ffff60;
$border-color: #bdbdbd;

@mixin full-screen {
  width: 100%;
  height: 100%;
}

@mixin column-flex-left-site {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

@mixin pirmary-button-color {
  background-color: #2c7be5;
  color: white;
  border: 2px solid #1e73be;
  transition: all 0.5s ease-in-out;
}

@mixin pirmary-button-color-hover {
  background-color: white;
  color: #2c7be5;
}

.update-employee {
  &__form {
    @include full-screen();
    border: 1px solid black;
  }

  &__close-icon {
    width: 1.7rem;
    height: auto;
    margin: 0.5rem 0 0 57.7rem;
    transition: all 0.5s ease-in-out;
  }

  &__close-icon:hover {
    color: gray;
  }

  &__label-and-input-div {
    margin-top: 10rem;
    column-gap: 7rem;
  }

  &__label-div {
    margin-top: 1rem;
    @include column-flex-left-site();
    row-gap: 2.4rem;
    padding-left: 0;
  }

  .label {
    font-size: 1.3rem;
  }

  &__input-div {
    margin-top: 1rem;
    @include column-flex-left-site();
    row-gap: 2.1rem;
  }

  .input {
    width: 10rem;
    height: 1.5rem;
    font-size: 1rem;
    padding-left: 0.5rem;
  }

  &__age {
    text-align: right;
  }

  &__button-div {
    margin-top: 3rem;
    column-gap: 3rem;
  }

  &__cancel-button {
    width: 9rem;
    column-gap: 0.5rem;
  }

  &__cancel-icon {
    width: 1.3rem;
  }

  &__edit-button {
    width: 15rem;
    column-gap: 0.7rem;
  }

  &__edit-icon {
    width: 1.3rem;
    height: auto;
  }
}
