* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  /*background-color: #f3f5f6;*/
  /*background-color: #fafafa;*/
  /*background-color: #f5f5f5;*/
  /*background-color: #f4faff;*/
  background-color: #f4f8fb;
}

.center-content-left {
  display: flex;
  justify-content: left;
  align-items: center;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-content-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin pirmary-button-color {
  background-color: #2c7be5;
  color: white;
  border: 2px solid #1e73be;
  transition: all 0.5s ease-in-out;
}

@mixin pirmary-button-color-hover {
  background-color: white;
  color: #2c7be5;
}

.button {
  height: 2.5rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
}

.button:hover {
  cursor: pointer;
}

.primary-button {
  @include pirmary-button-color();
}

.primary-button:hover {
  @include pirmary-button-color-hover();
}

.link {
  text-decoration: none;
}

.icon {
  width: 2.5rem;
  height: auto;
}

.hover:hover {
  cursor: pointer;
}

.disabled-button {
  background-color: gray;
}

.disabled-button:hover {
  background-color: gray;
  cursor: context-menu;
}

.number {
  text-align: right;
}
