.menu-div {
  display: flex;
  justify-content: center;
  align-items: center;

  &__menu-icon {
    width: 2rem;
  }
}

.menu-div-active {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
