.popup-window-div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;

  &__popup-dialog-div {
    width: 50%;
    height: 75%;
    background-color: white;
    border-radius: 0.2rem;
  }
}
