/*$crm-gray-black-color: #323531;*/
/*$crm-gray-black-color: #31363c;*/
/*$crm-gray-black-color: #718096;*/
/*$crm-gray-black-color: #15232e;*/
/*$crm-gray-black-color: #353e43;*/

$crm-white-color: white;

.login {
  height: 100vh;
  background-color: #242124;
  display: flex;
  flex-direction: column;
  row-gap: 5rem;

  &__headline-div {
    margin-top: 5rem;
    row-gap: 1rem;
  }

  &__logo {
    width: 7rem;
    border-radius: 50%;
  }

  &__headline {
    font-size: 2rem;
    color: #f3f5f6;
  }

  &__login-div {
    width: 15rem;
    margin: 0 auto;
    padding: 5rem 3rem;
    background-color: white;
    border-radius: 0.2rem;
    row-gap: 1.5rem;
  }

  &__mini-headline {
    font-size: 1.5rem;
  }

  &__input-mail,
  &__input-password {
    height: 1.6rem;
    padding: 0.3rem 0.3rem 0.3rem 0.5rem;
    font-size: 1.1rem;
  }

  &__input-mail {
  }

  &__input-password {
  }

  &__password-control-div {
    margin: 1rem 0;
    column-gap: 0.5rem;
  }

  &__login-button {
    width: 95%;
    margin: 0 auto;
  }
}

.preview-component {
  display: grid;
  grid-template-columns: 17% 83%;

  &__navbar-logo-div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /*background-color: #56595d;*/
    /*background-color: #696b6f;*/
    /*background-color: #e2e6eb;*/
    /*background-color: #edf0f2;*/
    /*background-color: #c7ccd1;*/
    /*background-color: #cbd3da;*/
    /*background-color: #707070;*/
    /*background-color: #666;*/
    /*background-color: #afafaf;*/
    /*background-color: #a5a5a5;*/
    /*background-color: #8c8c8c;*/
    /*background-color: #7f7f7f;*/
    /*background-color: #757575;*/
    /*background-color: #646464;*/
    /*background-color: #2f3542;*/
    background-color: #242124;
  }

  &__logo-div {
    width: 90%;
    margin: -1rem auto 0 auto;
    padding: 0 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.7rem;
  }

  &__logo {
    width: 5rem;
    border-radius: 50%;
  }

  &__headline {
    font-size: 1.6rem;
    color: #f3f5f6;
  }

  &__nav-bar {
    width: 100%;
    row-gap: 3rem;
  }

  &__link,
  &__logout-link {
    width: 60%;
    height: 3.3rem;
    font-size: 1.3rem;
    margin: 0 auto;
    padding-left: 5%;
    background-color: #242124;
    color: #f3f5f6;
    column-gap: 1rem;
    transition: all 0.5s ease-in-out;
    border-radius: 0.2rem;
    border: none;
  }

  &__logout-link {
    margin-top: 3rem;
  }

  &__link:hover,
  &__logout-link:hover {
    background-color: #414852;
  }

  &__text {
  }

  &__outlet {
  }
}
