/*$main-background-color: #f8f8f8;*/
$background-color: #f3f5f6;

@mixin flex-direction {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin column-direction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin column-direction-flex-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

@mixin column-direction-left-side {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

@mixin null-distance {
  margin: 0;
  padding: 0;
}

@mixin height {
  height: 100vh;
}

.preview-component {
  @include null-distance();
  display: grid;
  grid-template-columns: 20% 80%;
  width: 100%;
  background-color: $background-color;

  &__main-navbar-div {
    @include column-direction-left-side();
    @include height();
    border-right: 1px solid #e5e5e5;
  }

  &__navbar {
    /*color: white;*/
    background-color: #fafafa;
    border-radius: 0.3rem;
    padding: 0.5rem 0 0 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #e5e5e5;
    row-gap: 0.5rem;
    height: 95%;
    width: 90%;
  }

  &__logo-div {
    margin: -10rem auto 5rem auto;
    padding: 0 0.7rem;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
  }

  &__logo {
    width: 7rem;
    border-radius: 50%;
  }

  &__headline {
    font-size: 1.7rem;
  }

  &__link {
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 0.3rem;
    color: black;
    font-size: 1.5rem;
    margin-left: 0.5rem;
    background-color: #fafafa;
    width: 90%;
    padding: 0 0.5rem;
  }

  &__link:hover {
    background-color: #eee;
  }

  &__employee-icon,
  &__client-icon,
  &__order-icon,
  &__company-report-icon {
    width: 3.5rem;
    height: auto;
  }

  &__employee-icon,
  &__client-icon,
  &__order-icon,
  &__company-report-icon:hover {
    cursor: pointer;
  }

  &__text {
    text-align: left;
    margin-left: 0.7rem;
  }

  &__div {
    @include column-direction-flex-start();
    @include height();
    background-color: $background-color;
  }
}

a {
  text-decoration: none;
}

.button:hover {
  cursor: pointer;
  background-color: #ddd;
}
