$crm-color-white: white;

.companyreport-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 87%;
  margin: 0 auto;

  &__button-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    margin-top: 2rem;
  }

  &__button {
    font-size: 1.2rem;
    background-color: white;
    //color: #66d3f4;
    //color: #d4a200;
    //color: #ae8625;

    border: 0.1rem solid gray;
    border-radius: 0.2rem;
  }

  &__table-div {
    width: 95%;
    margin: 1rem auto;
    padding-top: 2rem;
    background-color: $crm-color-white;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 0.2rem;
  }

  &__headline {
    font-size: 1.5rem;
    width: 20rem;
  }

  &__text {
    font-size: 1.3rem;
  }

  &__month-sum-div {
    margin-top: 1rem;

    &--chart {
      width: 1000px;
    }
  }
}
